.footer {
    width     : 100%;
    background: transparent linear-gradient(180deg, #C2E3F3 0%, #6AA3C1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 4px 6px 23px #A9A9A911;
    opacity   : 1;
    bottom    : 23px;
    position  : absolute;
    display: flex;
    justify-content: space-between;
}

.footer .textfooter {
    width         : 381px;
    height        : 83px;
    position      : relative;
    color         : var(--unnamed-color-425966);
    text-align    : left;
    letter-spacing: NaNpx;
    color         : #425966;
    opacity       : 1
}

.footer .textfooter span {
    color         : var(--unnamed-color-425966);
    text-align    : left;
    letter-spacing: 0px;
    color         : #425966;
}