.menuHeads {
    background-color: transparent;
    position        : absolute;
}
.menuHeads .tarjetMenu {
    background    : transparent linear-gradient(180deg, #E9F1FA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    box-shadow    : 0px 5px 9px #8395A766;
    border-radius : 10px;
    opacity       : 1;
    align-items   : center;
    text-align    : center;
    flex-direction: column;
    display       : flex;
    margin-right  : 14px;
    contain       : content;
}

.menuHeads .tarjetMenu .imgMenu {
    margin-top: 13.83px;
    width     : 31px;
    height    : 33px;
}

.menuHeads .tarjetMenu span {
    color         : var(--unnamed-color-425966);
    text-align    : center;
    font          : normal normal medium 13px/20px Poppins;
    letter-spacing: 0px;
    color         : #425966;
    opacity       : 1;
    bottom        : 8.74px;
    position      : absolute;
}